body{
    background-color: grey;
}

.topbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F0101;
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

.topbarlogin{
    position: fixed;
    right: 0%;
    padding-right: 30px;
}

.topbar p:hover{
    color : red;
    text-decoration: wavy;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

input.box{
    font-size: 40px;
    width: 60%;
    transition: width 0.4s ease-in-out;
    margin: 20px;
    border-radius: 30px;
    border-color: grey;
    padding: 20px;
}

input.box:hover{
    color: #1F0101;
}

form{
    display: flex;
    justify-content: center;    
}

.but{
    background-color: aliceblue;
    width: 50%;
    font-size: 40px;
    margin: 0%;
}

.but:hover{
    background-color: brown;
}

.but:focus{
    background-color: aquamarine;    
}

.sbutton{
    display: flex;
    align-items: center;
    justify-content: center ;
}

footer{
    position: absolute;
    bottom: 0%;
    left: 43%;
}

.but{
    margin-top: 20px;
}

.copy{
    margin-left: 40px;
}

a{
    margin-top: 20px;
    text-decoration: none;
    color:white;
}

a:hover{
    color : red;
}

.logoshoppers{
    display: inline;
    border-top: 3px white dashed;
    border-left: 3px white solid;
    border-bottom: 3px white solid;
}

.logosearch{
    display: inline;
    border-bottom: 10px white double;
}

.main h1{
    color: black;
}